$color-primary: #1870d5;
$dark-color-primary: #001d64;
$color-main-background: #eeeeee;

$color-black: #000;
$color-grey: #777777;
$color-white: #fff;

.header {
    background-color: $color-primary;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: 100;

    &__active {
        background-color: $dark-color-primary;
    }

    & li {
        height: 70px;
    }

    &__container {
        height: 70px;
    }

    // logo
    &__logo {
        list-style-type: none;

        &__img {
            height: 60px;
        }
    }

    // search
    &__search-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // right block
    &__right-block {
        &>ul {
            list-style-type: none;
            font-size: 30px;

            &>li {
                display: inline-block;
                min-width: 100px;
                min-height: 70px;
                padding: 0 20px;

                text-align: center;

                &:not(:last-child) {
                    margin-right: 70px;
                }

                &>a {
                    color: $color-white;

                    & label {
                        font-size: 20px;
                        cursor: pointer;
                    }

                    &>div {
                        padding-top: 10px;
                    }

                    & i {
                        transition: all 0.5s;

                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }
    }
}

.header__right-block>ul {
    margin: 0;
}

.header__right-block>ul>li>a {
    text-decoration: none;
}

body {
    margin: 0;
}